version: 2
jobs:
   build:
     working_directory: ~/build
     machine:
        image: circleci/classic:edge
     steps:
       - run: echo "hello world"
   task1:
     working_directory: ~/build
     machine:
        image: circleci/classic:edge
     name: task1
     steps:
        - run:
             name: Build cp-os-dashboard
             shell: /bin/bash
             command: echo "task1 is done"
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - task1-approval:
         type: approval
         requires:
           - build
      - task1:
        requires:
	   - task1-approval
